<ion-tabs>
  <ion-tab-bar slot="button" color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <icon-lebel>Home</icon-lebel>
    </ion-tab-button>

    <ion-tab-button tab="parking-list">
      <ion-icon name="locate"></ion-icon>
      <icon-lebel>ที่จอดรถ</icon-lebel>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <icon-lebel>แผนที่</icon-lebel>
    </ion-tab-button>

    <ion-tab-button tab="qrcode">
      <ion-icon name="qr-code-outline"></ion-icon>
      <icon-lebel>QR Code</icon-lebel>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon name="settings-outline"></ion-icon>
      <icon-lebel>ตั้งค่า</icon-lebel>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>